.create-question {
	.create-question-form {
		.close {
			visibility: hidden;
		}
		.placeholder {
            display: block;
            cursor: auto;
        }
        .avatar {
            width: 55px;
            height: 55px;
        }
		form {
			display: none;
		}
	}
	.create-question-backdrop {
		-webkit-transition: all 0.25s ease-in-out;
		-moz-transition: all 0.25s ease-in-out;
		-o-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;
		position: fixed;
		z-index: $zindex-modal-backdrop;
		background: rgba($dark, 0.6);
	}
	&.active {
		.create-question-form {
			z-index: $zindex-modal;
			.close {
				visibility: visible;
			}
			.placeholder {
				display: none;
			}
			form {
				display: initial;
			}
		}
		.create-question-backdrop {
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
		}
	}
}
