// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$enable-shadows: true;
$enable-caret: false;

$dropdown-min-width: 20rem;

$nav-height: 62px;

$primary: #314e55;

$b-toaster-offset-top: $nav-height + 15px;
$b-toaster-offset-right: 31px;
