// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.avatar {
    border-radius: 100%;
    object-fit: cover;
}

.nav-link {
    .avatar {
        width: 25px;
        height: 25px;
    }
}

textarea {
    resize: none;
}